<ul>
   
    
    <li><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="home"></mat-icon>
        
      
    </li>
    <li>
        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        
        
    </li>
    <li>
        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="explore"></mat-icon>
        
    </li>
    <li>
        <li ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_box"></mat-icon>
        
    </li>
    <li>
        <li ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
        
        
    </li>
 
 
</ul>
