
<ul>
    <li id="title"><a href="../../examples/#"><span>SnapCut</span></a></li>
    
    <li><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="home"></mat-icon>
        <span>Principal</span>
      
    </li>
    <li>
        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        <span>Buscar</span>
        
    </li>
    <li>
        <li><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="explore"></mat-icon>
        <span>Explorar</span>
    </li>
    <li>
        <li ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_box"></mat-icon>
        <span>Criar</span>
    </li>
    <li>
        <li ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
        <span>Perfil</span>
        
    </li>
 
 
</ul>